/******* Change Box Model ***************/

:root {
  --font-body: Arial, Helvetica, sans-serif;
  /*colors*/
  --primary-color:black;
  --secondary-color: #01b0d3;
  --font-start: 18px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-start);
}

#wrapper {
  background-color: white;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size:.9em;
}
ul {
  list-style-type: none;
}

#class-h1 {
  width: 100%;
}

.no-bold {
  font-weight: normal;
}

button{
  border: none;
}

textarea {
  resize: none;
}

.success {
  background-color: lightgreen;
}

.failure, .error {
  background-color: lightcoral;
}

.error {
  width: 100%;
}

a {
  color: black;
}

/*navigation*/
nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding:0;
}

nav ul li {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: .8em;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li:hover {
  background-color: white;
  color: black;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
}

.siteName {
  font-size: 1.5em;
  padding: .5em;
  padding-left: 0;
}

#top-header a, .vehicle-ad a {
  text-decoration: none;
  color: black;
}

#tools {
  font-size: .8em;
  padding: 1.2em;
}

/*ad section*/
.vehicle-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-color);
  position: relative;
}

.vehicle-ad img {
  margin-left: 10%;
  margin-right: 10%;
}

.transp-box {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  min-width: fit-content;
  padding: .25em;
}

.transp-box ul {
  list-style-type: none;
}

.transp-box * {
  margin:0;
  padding:0;
}

.transp-box a {
  background-color: var(--secondary-color);
  padding: 5px;
  font-size: .8em;
}

.transp-box h2, .transp-box li{
  white-space: nowrap;
}

.transp-box li {
  font-size: .8em;
  padding-bottom: .1em;
}

.transp-box h2 {
  font-size: .8em;
}

/*review section*/
.reviews li {
  padding: .5em;
  font-size: .8em;
  margin: 0;
  width: 100%;
}

.reviews ul {
  padding-left: 1em;
  width: 100%;
  margin: 0;
}

/*upgrade section*/
.box {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: .5em;
}

.box div {
  background-color: var(--secondary-color);
  min-width: 5em;
  
}

.box div img {
  width: 3em;
  height: 3em;
  margin: auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  min-height: fit-content;
  width: 100%;
}

/* classification section */
#inv-display {
  display: flex;
  flex-flow: column;
  padding-left: 0;
}

#inv-display li {
  border: 2px solid black;
  list-style-type: none;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
  font-size: 1em;
}

#inv-display li img {
  height: 100%;
  width: 100%;
} 

#inv-display li a {
  width: 80%;
  height: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.namePrice h2 {
  height: fit-content;
}

#inv-display li .namePrice h2 a {
  margin-left: 0;
  height: auto;
}

.namePrice {
  height: fit-content;
}

/* vehicle detail Section */
.bold {
  font-weight: bold;
}

#vehicle-cont {
  width: 100%;
}

#vehicle-cont img {
  width: 100%;
  max-height: 10em;
}

#vehicle-cont ul {
  margin-left: 0;
  padding-left: 0;
}

#vehicle-cont ul li {
  padding-top: 1em;
}


.title-h1 {
  width: 100%;
}

/* management */
.management-link {
  display: block;
  margin-bottom: 1em;
}

.management-select {
  display: block;
}

.management-h2{
  width: 100%;
}

#account-manage-cont {
  display: flex;
  flex-direction: column;
}

/* forms */

form input, form textarea, form select {
  width: 100%;
  font-size: 1.25em;
  margin: 0;
  margin-bottom: .75em;
  padding: 0;
}

form {
  background-color: royalblue;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border:2px solid black;
  
}

.form-cont {
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: skyblue;
  color: white;
}

.form-cont h2{
  color: var(--primary-color)
}
form a {
  color: white;
  margin-bottom: 1em;
}

form button {
  padding: .5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 1.5em;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 1em;
  border-color: white;
  background-color: white;
}

#no-account-cont {
  display: flex;
  flex-flow: row;
}

#no-account-cont * {
  margin: auto;
}

form input:invalid, form textarea:invalid, form select:invalid {
  border: 2px solid red;
}

form input:focus:invalid, form textarea:focus:invalid, form select:focus:invalid {
  background-color: lightcoral;
}

form input:focus:valid, form textarea:focus:valid, form select:focus:valid {
  background-color: lightgreen;
}


form input:valid, form textarea:valid, form select:valid {
  border: 2px solid green;
}

form textarea {
  font-size: .75em;
}

#update-password {
  margin-top: 1em;
}

/* error */
.notice {
  font-size: 1em;
  margin-right: auto;
  width: 100%;
}

/* messages */
#messages {
  width: 100%;
}

#messages ul {
padding-left: 0;
}

/* table */
table {
  font-size: .75em;
}

table tr:nth-child(even) {
  border: 5px solid black;
  background-color: grey;
}

table td {
  text-align: center;
}

table th {
  border-bottom: 2px solid #000;
}

/* message system */
.message-section {
  display: flex;
  flex-flow: column;
  width: 100%;
}

#inbox-options{
  width: 100%;
  }

.inbox-options {
border-top: 4px solid black;
}

#inbox {
  margin-left:auto;
  margin-right: auto;
}
.message-action-btn {
  width: auto;
  padding: .2em;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  background: none;
}

.message-action-btn button {
  margin: 0;
  background-color: gray;
}

#message_body {
  white-space: pre-wrap;
}

@media screen and (min-width: 500px) {

  html {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;     
    padding: 0;
  }
 
  body {
    background-image: url(/images/site/small_check.jpg);
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;     
    padding: 0;
  }

  nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  nav ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }
  
  nav ul li {
    width: 16%;
    margin: 0;
    padding: .8em;
  }

  main, header, footer {
    margin-left:2%;
    margin-right: 2%;
  }

  #wrapper {
    border: 3.5px solid var(--secondary-color);
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
  }

  main {
    flex: auto;
    display: flex;
    flex-wrap: wrap; 
  }

  .vehicle-ad {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .vehicle-ad img {
    margin: 0;
  }
  
  .transp-box *, .transp-box h2, .transp-box a {
    font-size: 1.5em;
  }
  
  .reviews, .upgrades {
    width: 45%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
  }

  .upgrades {
    order: 3;
    margin-left: 0;
  }

  .box {
    font-size: .8em;
  }

  .box div {
    padding: .5em;
  }
  
  .reviews {
    order: 4;
  }

  footer p {
    margin-bottom: 0;
    font-size: .8em;
    padding: 1em;
  }

  #inv-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  #vehicle-cont {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  #detail-cont {
    margin-left: 1em;
    width: 50%;
  }

  #detail-cont h2 {
    margin-top: 0;
  }

  #vehicle-cont img {
    max-height: 15em;
    margin-left: auto;
    width: 50%;
  }

  form {
    width: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
    
  }

  form * {
    margin-left: 1em;
  }

  form input, form textarea, form select {
    width: 80%;
    margin-left: 1em;
    font-size: 1em;
  }

  .form-cont {
    margin-left: auto;
    margin-right: auto;
    border-radius: .75em;
    width: 80%;
  }

  #no-account-cont p {
    margin: 0;
  }

  #no-account-cont a {
    margin-left: 1em;
  }

  .instruct-p {
    font-size: .75em;
    margin-top: 0;
  }

}

.management-link {
  width: 100%;
}

.management-select {
  margin-right: 100%;
  font-size: 1em;
}

table {
  font-size: 1em;
}

@media screen and (min-width: 850px) {
  
  #wrapper {
    width: 60%;
  }

  .vehicle-ad {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  nav ul {
    width: 80%;
    margin:0;
    margin-left: 0;
  }

  nav ul li {
    margin: .3em;
  }

  .box {
    width: 60%;
  }

  form input, form select {
    width: 50%;
  }

  form textarea {
    width:80%;
  }

  .transp-box {
    font-size: .75em;
  }
}
