/******* Change Box Model ***************/

:root {
  --font-body: Arial, Helvetica, sans-serif;
  /*colors*/
  --primary-color:black;
  --secondary-color: #01b0d3;
  --font-start: 18px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-start);
}

#wrapper {
  background-color: white;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
}

ul {
  list-style-type: none;
}

/*navigation*/
nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding:0;
}

nav ul li {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: .8em;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li:hover {
  background-color: white;
  color: black;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
}

.siteName {
  font-size: 1.5em;
  padding: .5em;
  padding-left: 0;
}

#top-header a, .vehicle-ad a {
  text-decoration: none;
  color: black;
}

#tools {
  font-size: .8em;
  padding: 1.2em;
}

/*ad section*/
.vehicle-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-color);
  position: relative;
}

.vehicle-ad img {
  margin-left: 10%;
  margin-right: 10%;
}

.transp-box {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  min-width: fit-content;
  padding: .25em;
}

.transp-box ul {
  list-style-type: none;
}

.transp-box * {
  margin:0;
  padding:0;
}

.transp-box a {
  background-color: var(--secondary-color);
  padding: 5px;
  font-size: .8em;
}

.transp-box h2, .transp-box li{
  white-space: nowrap;
}

.transp-box li {
  font-size: .8em;
  padding-bottom: .1em;
}

.transp-box h2 {
  font-size: .8em;
}

/*review section*/
.reviews li {
  padding: .5em;
  font-size: .8em;
  margin: 0;
  width: 100%;
}

.reviews ul {
  padding-left: 1em;
  width: 100%;
  margin: 0;
}

/*upgrade section*/
.box {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: .5em;
}

.box div {
  background-color: var(--secondary-color);
  
}

.box div img {
  width: 3em;
  height: 3em;
  margin: auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  min-height: fit-content;
  width: 100%;
}

/* classification section */
#inv-display {
  display: flex;
  flex-flow: column;
  padding-left: 0;
}

#inv-display li {
  border: 2px solid black;
  list-style-type: none;
  padding: 1em;
  margin: 1em;
  border-radius: 8px;
  font-size: 1em;
}

#inv-display li img {
  height: 100%;
  width: 100%;
} 

#inv-display li a {
  width: 80%;
  height: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.namePrice h2 {
  height: fit-content;
}

#inv-display li .namePrice h2 a {
  margin-left: 0;
  height: auto;
}

.namePrice {
  height: fit-content;
}

/* vehicle detail Section */
.bold {
  font-weight: bold;
}

#vehicle-cont {
  width: 100%;
}

#vehicle-cont img {
  width: 100%;
  max-height: 10em;
}

#vehicle-cont ul {
  margin-left: 0;
  padding-left: 0;
}

#vehicle-cont ul li {
  padding-top: 1em;
}


/* error */
#error-title {
  width: 100%;
}

@media screen and (min-width: 500px) {

  html {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;     
    padding: 0;
  }
 
  body {
    background-image: url(/images/site/small_check.jpg);
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;     
    padding: 0;
  }

  nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  nav ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  
  nav ul li {
    width: 16%;
    margin: 0;
    padding: .8em;
  }

  main, header, footer {
    margin-left:2%;
    margin-right: 2%;
  }

  #wrapper {
    border: 3.5px solid var(--secondary-color);
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
  }

  main {
    flex: auto;
    display: flex;
    flex-wrap: wrap; 
  }

  .vehicle-ad {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .vehicle-ad img {
    margin: 0;
  }
  
  .transp-box *, .transp-box h2, .transp-box a {
    font-size: 1.5em;
  }
  
  .reviews, .upgrades {
    width: 45%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
  }

  .upgrades {
    order: 3;
    margin-left: 0;;
  }

  .box {
    font-size: .8em;
  }

  .box div {
    padding: .5em;
  }
  
  .reviews {
    order: 4;
  }

  footer p {
    margin-bottom: 0;
    font-size: .8em;
    padding: 1em;
  }

  #inv-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }

  #vehicle-cont {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  #detail-cont {
    margin-left: 1em;
    width: 50%;
  }

  #detail-cont h2 {
    margin-top: 0;
  }

  #vehicle-cont img {
    max-height: 15em;
    margin-left: auto;
    width: 50%;
  }

}

@media screen and (min-width: 850px) {
  
  #wrapper {
    width: 60%;
  }

  .vehicle-ad {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  nav ul {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  nav ul li {
    margin: .3em;
  }

  .box {
    width: 60%;
  }
}
